.bg-image {
    height: 1000px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='880' preserveAspectRatio='none' viewBox='0 0 1440 880'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='1440' height='880' x='0' y='0' fill='rgba(241%2c 250%2c 238%2c 1)'%3e%3c/rect%3e%3cpath d='M1511.68 691.93C1394.58 691.15 1284.03 581.93 1056.38 581.93 828.73 581.93 872.11 717.79 601.08 691.93 330.05 666.07 334.39 77.62 145.78-15.41' stroke='rgba(204%2c 213%2c 174%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1674.58 485C1487.02 491.98 1356.74 802.06 989.89 793 623.04 783.94 561.35 42.63 305.2-43.51' stroke='rgba(204%2c 213%2c 174%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1565.3 283.06C1446.68 286.8 1362.13 473.56 1128.01 467.86 893.89 462.16 852.51-0.57 690.72-52.58' stroke='rgba(204%2c 213%2c 174%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1617.39 510.25C1433.15 490.26 1344.62 101.99 1008.22 87.85 671.83 73.71 555.99-62.64 399.06-63.77' stroke='rgba(204%2c 213%2c 174%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1506.8 143.77C1296.79 158.68 1057.91 567.56 778.24 566.17 498.57 564.78 574.67 3.72 413.96-95.38' stroke='rgba(204%2c 213%2c 174%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='1440' height='880' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
  
    /* Image doesn't repeat */
    background-repeat: no-repeat;
  
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
  
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
  }
  