.index-bg-image {
  height: 1000px;

  background-image: url("../images/index_bg.jpg");

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
}

.bg-image {
  height: 1000px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1058%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(173%2c 203%2c 187%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c613.898C112.634%2c602.078%2c195.01%2c512.698%2c293.014%2c455.939C396.737%2c395.868%2c548.911%2c382.252%2c592.66%2c270.659C636.727%2c158.255%2c538.351%2c42.581%2c499.943%2c-71.881C468.839%2c-164.574%2c437.171%2c-251.927%2c388.793%2c-336.891C329.053%2c-441.81%2c289.704%2c-568.341%2c184.022%2c-626.722C71.243%2c-689.023%2c-81.542%2c-722.509%2c-193.346%2c-658.476C-306.645%2c-593.587%2c-288.558%2c-421.668%2c-362.226%2c-313.871C-423.749%2c-223.845%2c-552.826%2c-188.163%2c-585.788%2c-84.224C-620.137%2c24.087%2c-583.352%2c141.576%2c-539.968%2c246.595C-495.414%2c354.445%2c-431.881%2c456.257%2c-335.397%2c521.888C-237.561%2c588.439%2c-117.68%2c626.248%2c0%2c613.898' fill='%235f9678'%3e%3c/path%3e%3cpath d='M1440 1495.8980000000001C1540.453 1478.992 1647.9 1511.348 1737.605 1463.0819999999999 1830.333 1413.19 1895.859 1323.936 1938.522 1227.6680000000001 1980.883 1132.081 1993.0349999999999 1026.107 1977.047 922.784 1961.17 820.184 1908.689 730.624 1848.517 646.018 1782.8899999999999 553.7429999999999 1719.031 450.56500000000005 1612.98 410.884 1504.404 370.25800000000004 1380.664 388.09799999999996 1272.811 430.60699999999997 1170.149 471.07000000000005 1086.978 549.4580000000001 1026.768 641.932 971.4639999999999 726.8720000000001 974.71 831.469 948.126 929.279 916.984 1043.861 835.053 1149.528 857.099 1266.202 880.821 1391.745 951.344 1528.56 1070.212 1575.4009999999998 1189.937 1622.579 1313.1 1517.255 1440 1495.8980000000001' fill='%23fefefe'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1058'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
}

.navbar-font {
  font-family: "Montserrat" !important;
  font-weight: 500;
}

.navbar-right-items {
  padding-right: 0 !important;
}

.center-navbar :nth-child(n) {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-background {
  background: rgb(233, 245, 219);
  background: linear-gradient(
    270deg,
    rgba(233, 245, 219, 1) 20%,
    rgba(207, 225, 185, 1) 40%,
    rgba(181, 201, 154, 1) 60%,
    rgba(151, 169, 124, 1) 78%,
    rgba(135, 152, 106, 1) 86%,
    rgba(113, 131, 85, 1) 100%
  );
}

.navbar-collapse {
  flex-grow: 0 !important;
}

#aboutus {
  color: black;
  font-family: "Montserrat";
  font-size: 50px;
  text-align: center;
  padding-top: 15%;
}

#index-page-p {
  font-family: "Montserrat";
  font-size: 40px;
  color: white;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 100px;
  left: 50px;
}

#text-login, #text-signup
{
   color: green;
}

#text-login:hover, #text-signup:hover
{
  color: brown;
}