#tracking-panel
{
    position: absolute !important;
    left: 50% !important; 
    top: 50% !important;
    width: 500px !important;
    height: auto;
    margin-left: -250px;
    margin-top: -300px;
}

@media only screen and (max-width: 1300px)
{
    #tracking-panel
    {
        position: absolute !important;
        left: 50% !important; 
        top: 50% !important;
        width: 500px !important;
        height: auto;
        margin-left: -250px;
        margin-top: -200px;
    }
}

@media only screen and (max-width: 800px)
{
    #tracking-panel
    {
        position: absolute !important;
        left: 50% !important; 
        
        width: 500px !important;
        height: auto;
        margin-left: -250px;
    }
}

.card
{
    height: 250px;
}

.card-text
{
    position: relative;
    top: 7%;
}

.card-link
{
    position: relative;
    top: 8%;
    
}

#button-addon2
{
    background-color:#a5a58d;
}

.btn-outline-secondary
{
    color: #f1faee !important;
}